<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="list-head">
                <p class="list-head-title">To-Do App</p>
            </div>
            <div></div>
            <div class="col-xs-6 col-xs-offset-3">
                <!-- <form> -->
                <div class="form-group">
                    <input type="text" class="form-control" id="newitem" (keydown)="onKeyDown($event)"
                        placeholder="Enter to add">
                </div>
                <div class="col-xs-6 col-xs-offset-3">
                    <ul class="list-style">
                        <li *ngFor="let item of items; let i=index" style="padding: 5px;">
                            <div class="col-xs-12 row">
                                <div class="col-xs-6">
                                    <span class="list-item"> {{item}}</span>
                                </div>

                                <div class="col-xs-6">
                                    <span style="padding-left: 5px;"><input type="button" class="btn-xs btn-danger" value="Remove" (click)="removeItem(i)"></span>
                                </div>

                            </div>
                            <div>

                            </div>
                        </li>
                    </ul>
                </div>
                <!-- </form> -->
            </div>
        </div>
    </div>
</div>